<?xml version="1.0" encoding="utf-8"?>
<!--               
  FECHA                 MODIFICACIÓN                       EMPLEADO									            
 06-01-2022   Cambios para vulnerabilidades.         Sergio Espinoza - SES
-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SGTH.WebAPI-20180924052110.mdf;Initial Catalog=aspnet-SGTH.WebAPI-20180924052110;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NUCLEOID" value="19" />
    <!--INI KOA - 27/12/2021 - SESNEW FIN-->
    <add key="IDSES" value="2" />
    <add key="IDAUTOLABORAL" value="23" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /><!--AÑADIDO ELA 24/10/2019-->                                                                                                                                                                                                            <!--INI ELA 27/11/2019-->
    <add key="ESTADO_SCHEDULER" value="A" /> <!-- "A" = ACTIVO | "D" = INACTIVO-->
    <add key="CRON_SCHEDULE" value="0 0,10,20,30,40,50 * * * ?" />
    <add key="RUTA_TAREAS" value="http://wariwdt.sesitdigital.com:8080/QA/GCHAPITESTING/Tareas/" />
    <add key="RUTA_INDEX" value="http://wariwdt.sesitdigital.com:8080/QA/GCHAPITESTING/Tareas/Tarea4.aspx" />
	<add key="RutaAccesoUsuario" value="http://wariwdt.sesitdigital.com:8080/APPSERV/Usuario/GetLogin?usuario=" />
    <!--FIN ELA 27/11/2019-->
	<!--Keys para el registro de formulario en WorkManager-->
	<add key="UsuarioED" value="SES"/>
	<add key="OfficeCode" value="01"/>
	<add key="tokken" value="reEDWaiF8OovbK5G4lL+Jg=="/>
    <add key="RUTA_TAREA_ARCHIVO" value="/Tareas/Archivos/" /><!--AÑADIDO ELA 24/10/2019-->
	
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	 <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /><!--AÑADIDO ELA 24/10/2019-->
   <!-- <add key="SGDDesarrollo" value="szRECwKOsrA1aAt1YKEo7nOg4a+Tug5s81jg6ZaTJYddJhVxYmweXqX5SUKFPqs8gufMoSvjIRzBJ40Zd4uoLRG736LKTNP+gVoiuDPF6eFf/9keykMBSj6iyoUgN88c" /> -->
    <!--SAR4DESARROLLO:-->
<!--     <add key="SEGBDConexion" value="szRECwKOsrA1aAt1YKEo7nOg4a+Tug5s81jg6ZaTJYfCoei9Q9mN9uY9JcvV7Oh5nf1xWO7hi8KPsRTWlUArVtH+4sdIO9XF8eTHzAw17R2A4RqVzMzm62mJG+yndQt1" />-->	
     <add key="SGDDesarrollo" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wmEgHZSQ+6FjpgfUGaVe8SHYR9x7TyhLawAK7EGGAFtH3lUgc6QXBXk4wI0yb3Ys3" />  
	<add key="SEGBDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wZyzimStfSnduUAkiomOHS6NT8HujFVXpWCEYXNnLp5GySgJm2LSIVTJMhGyVFRit" /> 
	<!--<add key="SGDDesarrollo" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wBXV/grONwOmmgkPlopztiE6bF4dbEstmOFZsyK/mPZ41RlJZ/OWhayjJBYtj7LFA" />-->
	<!--<add key="SGDDesarrollo" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wUhu67k3FEspnTrp7otGhPOWnJloaBHkdIHxEUUy5wK6T3xOqZ04Qk0rtY+lDzVh1" />-->
	<!--<add key="RDABDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wyTCykL4rDODTKZT7xKOZVomOBfK4Vbg2A0A7OVXHLgDf8C+Y+fYkJk8fsH8JGhXk" />-->
	<add key="SARBDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wjgOmqTLM4mH3jW4VOJDwEs9gKTKv2oo6PTeDOfdPIYnl9QMUiXI577mbVInmzg4S" />
	<add key="RDABDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wyTCykL4rDODTKZT7xKOZVomOBfK4Vbg2A0A7OVXHLgDf8C+Y+fYkJk8fsH8JGhXk" /> 
	
<!-- 		<add key="RDABDConexion" value="vIxNNB5Q2luk0bkaK73lfCMltzeugfoRyIL7/i1d65D8lnX3JooPeD2krUQGsw7K4Yt2RHYk/Oe+JGNz8Ya7RRVHX0kErXEaOSkmTf0oA1/fJNbNEcrUShSejHC4KGeV" />
 -->	
    <add key="RENConexion" value="NKDaKcS3czcQQ884rV6HWkM1EDkPlOvpojQeSlDPBauCbCuz6uk1cDcbRiMTdH7uV6jFlKv6f6L7Dx+Y7pLrmjUubKz1Qq3MMOwpu+F43F0=" />

	<!--     <add key="RENConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wXNNcov32XX24M3LKTVYWoyU4SsiQIkAxaClM7KdcNBvVKYsyU0VE7ao2qCR9qB34ApdlF+DWvYEQlza9nz9e3A==" />
 -->	<add key="RENTGCHConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wXNNcov32XX24M3LKTVYWoyU4SsiQIkAxaClM7KdcNBvVKYsyU0VE7ao2qCR9qB34ApdlF+DWvYEQlza9nz9e3A==" />
    <add key="MOTBDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wZyzimStfSnduUAkiomOHS6NT8HujFVXpWCEYXNnLp5GySgJm2LSIVTJMhGyVFRit" />
	<add key="WFLConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9w9Z5ZUTGT+/PwfF4pieb9UmRscfg9HE4UWEAQCK8lxUyQq7fxgxTt1pwtEyWs0FAA" />
	<add key="SBABDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wFY+lPURi7kXKmrjCARGfgHN3BsWZnW86GWi3DwTMmsLEdXk83RKNP46EIkY/emrb" />
	<!--<add key="SEGBDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wZyzimStfSnduUAkiomOHS6NT8HujFVXpWCEYXNnLp5GySgJm2LSIVTJMhGyVFRit" />
	<add key="SGDDesarrollo" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wZyzimStfSnduUAkiomOHS6NT8HujFVXpWCEYXNnLp5GySgJm2LSIVTJMhGyVFRit" />
	<add key="SARBDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wjgOmqTLM4mH3jW4VOJDwEs9gKTKv2oo6PTeDOfdPIYnl9QMUiXI577mbVInmzg4S" />
	<add key="RDABDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wyTCykL4rDODTKZT7xKOZVomOBfK4Vbg2A0A7OVXHLgDf8C+Y+fYkJk8fsH8JGhXk" />
	<add key="RENConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wXNNcov32XX24M3LKTVYWoyU4SsiQIkAxaClM7KdcNBvVKYsyU0VE7ao2qCR9qB34ApdlF+DWvYEQlza9nz9e3A==" />
	<add key="RENTGCHConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wXNNcov32XX24M3LKTVYWoyU4SsiQIkAxaClM7KdcNBvVKYsyU0VE7ao2qCR9qB34ApdlF+DWvYEQlza9nz9e3A==" />
    <add key="MOTBDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wZyzimStfSnduUAkiomOHS6NT8HujFVXpWCEYXNnLp5GySgJm2LSIVTJMhGyVFRit" />
	<add key="WFLConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9w9Z5ZUTGT+/PwfF4pieb9UmRscfg9HE4UWEAQCK8lxUyQq7fxgxTt1pwtEyWs0FAA" />
	<add key="SBABDConexion" value="Ml30kYGeyBKnPPMgpQZZ+DH8wpIvDIykFkGqpCl07Si/IgPetBQOyCOw5Uh84T9wFY+lPURi7kXKmrjCARGfgHN3BsWZnW86GWi3DwTMmsLEdXk83RKNP46EIkY/emrb" />-->
	
	<add key="SEGBDNAME" value="SAR4_TESTING" />
	<add key="WORBDNAME" value="SAR4_TESTING" />
    <add key="FP" value="0"></add>
    <add key="FPID" value="0" />
    <add key="PAGESIZE" value="10" />
    <add key="RUTA_ARCHIVO_CSES" value="~/src/img/Archivos/" />
	<add key="rutaDocumentos" value="DocumentosHE" />
    <add key="HOST_MAIL" value="atencion.sar@sesitdigital.com" />
    <add key="HOST_PORT" value="465" />
    <add key="HORA_DIARIO" value="8" />
    <add key="HORA_SAB_DOM" value="12" />
    <add key="USER_MAIL" value="sesdigital\atencion.sar" />
    <add key="PASS_MAIL" value="Atencion.SARS3sXxZ" />
    <add key="IP_HOST_MAIL" value="mail.sesitdigital.com" />
	<add key="RDA" value="8" />
    <add key="RDAAA" value="29" /> <!-- 8 -->
    <add key="SGCH" value="29" /><!-- 8 -->
	<add key="WKF" value="2"/>
    <add key="IdSis" value="29" /><!-- 8 -->
    <add key="key_FichPost" value="sesnetpe" />
	
	<add key="fichPost_Login_URLDomain" value="http://wariwdt.sesitdigital.com:8080/QA/GCHUITESTING/#/login?k=" />
	<add key="fichPost_RegVirtual_URL_NumeroDiaHabilitado" value="1" />
	<add key="fichPost_UpdateColaborador_URLDomain" value="http://wariwdt.sesitdigital.com:8080/QA/GCHUITESTING/#/updateColaborador?k=" />
	<add key="fichPost_UpdateColaborador1" value="http://wariwdt.sesitdigital.com:8080/QA/GCHUITESTING/#/updateColaborador" />
	<add key="fichPost_RegVirtual_CorreoAsuntoUpdate" value="Hola @__DESTINATARIO_NOMBRE__, actualice sus datos!" />
    <add key="RutaAccesoUsuario" value="http://wariwdt.sesitdigital.com:8080/QA/APPSERV/Usuario/GetLogin?usuario=" />
    <add key="CorreoAppInformatica" value="rocio.velasquez@sesitdigital.com" /> 

	<add key="HORA_DIARIO" value="8" />
	<add key="HOST_SAB_DOM" value="12" />


	
    <!--(key_FichPost, MAX & MIN characters length = 8 ) -->
    <add key="FACBDNAME" value="SFC1_TESTING" />
    <!--Importante: verificar el que el parámetro "k" (minuscula) se aegrege en la URL que accede a la ficha de Postulante...-->
    <!--<add key="fichaPostulanteVirtual_URLDomain" value="http://localhost:7333/#/?k=" />-->
    <add key="fichPost_RegVirtual_URLDomain" value="http://wariwdt.sesitdigital.com:8080/QA/GCHUIFPTESTING/#/ficha?k=" />
    <add key="fichPost_RegVirtual_URLKeyEncrypParam" value="sesnetpe" />
    <add key="fichPost_RegVirtual_URL_NumeroDiasHabil" value="2" />
    <add key="fichPost_RegVirtual_CorreoAsunto" value="Hola @__DESTINATARIO_NOMBRE__, únete a SES!" />
    <add key="fichPost_RegVirtual_CorreoRemitente" value="atencion.sar@sesitdigital.com" />
    <!--Directorio a almacenar los documentos adjuntos de los postulantes -->
    <add key="GCH_PathDirectory_PostulantesDocs" value="~/GCH_PostulantesDocs/" />

	<add key="GCH_CROS" value="http://10.4.1.127:8080,http://wariwdt.sesitdigital.com:8080" /> 
    <add key="RUTA_ARCHIVOS_GCH" value="~/SIS_GCH/Archivos/" />
    <add key="RUTA_IMGS_CORREO" value="SIS_GCH_Archivos" />	
    <add key="RUTA_ARCHIVO_RDA" value="/Archivos/" />
	<!-- Codigo de maestros tipo de papeletas con marcaciones -->
	<add key="MAE_TpoPapeletaMarcacion" value="135"/>
	<!-- Codigo de marcaciones en papeleta -->
	<add key="MAE_MarcacionesPapeleta" value="136"/> 
	
    <!--<add key="IdUsuRegColab" value="99" /> Desarrollo-->
    <add key="IdUsuRegColab" value="93" /> <!-- Testing-->	
	<add key="RutaImgLogo" value="/Images/Logos/logo2.jpg" />
	
	<add key="JWT_AUDIENCE_TOKEN" value="http://wariwdt.sesitdigital.com:8080/QA/GCHAPITESTING/api" />
    <add key="JWT_ISSUER_TOKEN" value="http://wariwdt.sesitdigital.com:8080/QA/GCHAPITESTING/api" />
    <add key="JWT_SECRET_KEY" value="cb619def-ed4a-4c57-8068-bda2f5918545" />
    <add key="SIS_ID_JWT" value="1" />
    <add key="MAE_ID_JWT" value="26" />
    <add key="MAE_ITEM_JWT" value="1" />
	
	<add key="BUZON" value="137"/>
  </appSettings>
  <system.web>
      <!--INI SEC 06/01/2022 SESMOD-->
      <customErrors mode="On" />
      <!--FIN SEC 06/01/2022 SESMOD-->
    <authentication mode="Windows" />
    <authorization>
      <allow users="?" />
    </authorization>
    <compilation targetFramework="4.5" debug="false"/>
    <httpRuntime targetFramework="4.5" executionTimeout="2000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
	<httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="WebDAV" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
 <!--<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" /> -->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />

	</handlers>
	<httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWorkManagerServices" />
        <binding name="BasicHttpBinding_IAsistenciaxPlanilla" />
        <binding name="BasicHttpBinding_IGestionIndicadores" />
        <binding name="BasicHttpBinding_IGestionIndicadores1" />
      </basicHttpBinding>
    </bindings>
    <client>     
      <endpoint address="http://edd.sesitdigital.com:8082/WorkManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkManagerServices"
        contract="ServiceWorkManager.IWorkManagerServices" name="BasicHttpBinding_IWorkManagerServices" />
			  <endpoint address="http://wariwdt.sesitdigital.com:8080/QA/SIGAPITesting/WSSIGSES/Servicios/GestionIndicadores.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGestionIndicadores"
        contract="GestionIndicadoresService.IGestionIndicadores" name="BasicHttpBinding_IGestionIndicadores" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
		
</configuration>
<!--ProjectGuid: {EC90A953-D76F-47EC-BE5A-5D2057829BA5}-->